.container {
  width: 1400px;
  padding: 20px 30px;
  margin: 0 auto;
  border: 4px solid transparent;
  border-left-color: #fff;
  border-right-color: #fff;
}

.btn {
  padding: 6px 20px;
  margin-bottom: 20px;
  background-color: rgb(158, 255, 162);
  border: 4px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
  font-weight: 700;
}

.list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #000;
  border: 4px solid transparent;
}

.link:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
}